<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <title>Project Funder</title>
</head>
<body>
    <h1>ProjectFunder</h1>
    <div class="btnProfilCSS"><button id="btnProfil" style="font-size: 30px" onclick="login()" >Mein Profil</button></div>
    <div class="offP">
        <h2>Offene Projekte</h2>
        <div id="conteneur1">
          <!--
            <div class="element">
                <img class="elementImgae" src="images/car.jfif">
                <p class="titel">titel</p>
                <p class="user">user</p>
                <p class="money"> money</p>
            </div>
        </div>
          -->
    </div>
    <div class="abP">
        <h2>Abgeschlossne Projekte</h2>
        <div id="conteneur2"></div>
    </div>
    <div class="btnProjektCSS"><button  id="btnProjekt" >Projekt erstellen</button></div>
<script src="main.js"></script>
</body>
</html>
