<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<h1>login Page</h1>
    <div id="content">
        <!-- <form name="formLogin" >-->
            <p>email <input type="text" name="email" id="email" class="email"></p>
            <p><button id="btnLogin" class="btnLogin">einloggen</button></p>
            <!--  <p><input type="submit" value="einloggen"></p> -->

        <!-- </form> -->
    </div>

<button onclick="logOut()">Out</button>

</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="login.js"></script>
</html>

