<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <title>projekt erstellen</title>
</head>
<body>
<h1><button id="homeBtn" class="homeBtn" style="margin-right: 200px;color: blue;background-color: red;color: white">Home</button>
    Projekt erstellen
</h1>
<div id="content">
   <!--  <form name="myform" >-->
        <p>Titel <input type="text" class="titel" id="titel" name="titel"></p>
        <p>Finanzierungslimit <input type="number" name="finanzierungslimit" id="finanzierungslimit" class="finanzierungslimit"></p>
        <p>Kategorie
            <p class="kategorie" id="kategorie"></p>
        </p>
        <div >Vorgänger
            <p class="vorgaenger" id="vorgaenger"></p>
        </div>
        <p>Beschreibung <textarea  id="beschreibung" name="beschreibung" cols="50px" rows="5px"></textarea></p>
        <p><button class="btnSubmit" id="btnSubmit" class="btnSubmit">Erstellen</button></p>
        <!-- <input class="btnSubmit" type="submit" value="Erstellen" >-->
    <!-- </form>-->
</div>

<script src="projekt-erstellen.js"></script>
</body>
</html>
