<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spenden Page</title>
</head>
<body>
<div style="text-align: center">
    <h2><button id="homeBtn" class="homeBtn" style="margin-right: 200px;color: blue;background-color: red;color: white">Home</button>
        Spenden
    </h2>
<div id=""><strong>Spendenbetrag (in Euro):</strong><input type="number" name="betrag" id="betrag"></div>
<div>
    <input type="radio" name="anonym" value="anonym" id="radioAnonym">vielleicht als Anonym</div>

<p><button style="background-color: red; color: white" id="spendenTo">Spenden</button></p>
</div>

<script src="spenden.js"></script>
</body>
</html>
